<h1>Assos index</h1>
<p>Nb of assos</p>
<%= @assos.count %>
<p>List of assos</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Register</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @assos.each do |asso| %>
    <tr>
      <th><%= asso.member.pseudo %></th>
      <th><%= asso.member.email %></th>
      <th><%= asso.register %></th>
      <th><%= MemberPresentation.find_by(member_id: asso.member.id).description %></th>
      <th><%= link_to 'Show', asso_path(asso) %></th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
<% end %>
</tbody>
</table>
